@charset "utf-8";
body {
    background: #F3F3F3;
}

* {
    margin: 0;
    padding: 0;
}

/*CSS sprite*/
.bbs_before_ico,
.bbs_signup_icon1,
.bbs_signup_icon2,
.bbs_signup_icon3,
.bbs_signup_icon4,
.bbs_signup_icon5,
.bbs_show_list .ico_male,
.bbs_show_list .ico_female{
    background: url("../img/bbshow.png") no-repeat;
}

/* fullSlide */
.fullSlide {
    width: 100%;
    position: relative;
    height: 447px;
    background: #000;
}

.fullSlide .bd {
    margin: 0 auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.fullSlide .bd ul {
    width: 100% !important;
}

.fullSlide .bd li {
    width: 100% !important;
    height: 447px;
    overflow: hidden;
    text-align: center;
}
.fullSlide .bd li img{
    height: 447px;
    display: block;
    position: relative;
    left: 50%;
    width: 1920px;
    margin-left: -960px;
}

.fullSlide .bd li a {
    display: block;
    height: 447px;
}

.fullSlide .hd {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
}

.fullSlide .hd ul {
    text-align: center;
}

.fullSlide .hd ul li {
    cursor: pointer;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 42px;
    height: 11px;
    margin: 1px;
    overflow: hidden;
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    line-height: 999px;
}

.fullSlide .hd ul .on {
    background: #f00;
}

.fullSlide .prev, .fullSlide .next {
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -30px;
    left: 15%;
    z-index: 1;
    width: 40px;
    height: 60px;
    background: url(../img/slider-arrow.png) -126px -137px #000 no-repeat;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5;
    display: none;
}

.fullSlide .next {
    left: auto;
    right: 15%;
    background-position: -6px -137px;
}

.flex_content {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -180px;
    margin-top: 115px;
    width: 360px;
    height: 26px;
    padding: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    behavior: url(http://fetchak.com/ie-css3/ie-css3.htc); /*ie下兼容css3*/
    background: #000;
    background: rgba(0, 0, 0, 0.6);
    line-height: 26px;
    cursor: pointer;
}

.flex_content h1 {
    margin: 0 4px 0 0;
    height: 26px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    behavior: url(http://fetchak.com/ie-css3/ie-css3.htc); /*ie下兼容css3*/
    background-color: #e5004a;
    color: #ffffff;
    font-size: 12px;
    width: 72px;
    text-align: center;
    float: left;
}

.flex_content span {
    color: #FFFFFF;
    font-size: 13px;
    margin: 0 10px;
    line-height: 26px;
}

/* fullSlide end */

.bbs_areabox {
    width: 100%;
    background-color: #ffffff;
    padding: 6px 0;
    margin: 10px 0;
}

.bbs_before_ico {
    background-position: 0 0;
    height: 20px;
    width: 20px;
    display: block;
    text-indent: -10000px;
    margin: 3px 0 0 6px;
}

.bbs_title {
    line-height: 26px;
    padding: 0 6px;
    font-size: 14px;
    font-weight: bold;
}

.bbs_title_sml {
    line-height: 26px;
    padding: 0 10px;
}

.bbs_year_areabox {
    width: auto;
    height: 20px;
    margin: 0 0 10px 0;
    /*box-shadow: 0 1px 0 #53b7bc;*/
    border-bottom: 1px solid #53b7bc;
}

.bbs_year {
    background-color: #53b7bc;
    line-height: 20px;
    width: 50px;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
}

.bbs_list {
}

.bbs_list ul {
    margin-right: -10px;
}

.bbs_list li a{
    float: left;
    position: relative;
    width: 272px;
    padding: 10px;
    background-color: #ffffff;
    margin: 0 10px 10px 0;
    zoom: 1;
}

.bbs_list img {
    width: 100%; /*图272x149*/
}

.bbs_list .bbs_list_title {
    font-size: 13px;
    color: #666666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bbs_list .bbs_list_num {
    font-size: 12px;
    color: #999999;
    line-height: 22px;
    float: left;
}

.bbs_list .bbs_list_date {
    font-size: 12px;
    color: #999999;
    line-height: 22px;
    float: right;
}

.bbs_list li a:hover{
    box-shadow:0 0 10px #adadad;
}

.clearfix {
    zoom: 1
}

.imgc img {
    display: block;
    position: relative;
    width: 1911px;
    left: 50%;
    margin-left: -960px;
    overflow: hidden;
}

/*切换*/
.bbs_tab{ }
.bbs_tab .tab_trigger li{
    float: left;
    font-size: 15px;
    padding: 5px 35px;
    margin-right: 1px;
    background: #eaeaea;
}
.bbs_tab .tab_trigger li.active{
    color: #e5004b;
    background: #FFFFFF;
    font-weight: bold;
}
.bbs_tab .tab_content{
    background: #FFFFFF;
    padding: 20px;
}
.bbs_tab .tab_content_item{
    display: none;
}
.bbs_tab .tab_content_selected{
    display: block;
}
.bbs_pad50{
    padding: 50px;
}

/*报名*/
.bbs_signup_title{
    font-size: 24px;
    color: #333333;
    line-height: 30px;
    margin: 0 0 30px;
}
.bbs_signup_title span{
    font-size: 18px;
    margin: 0 20px;
}
.bbs_signup_line{
    font-size: 15px;
    color: #ff8a00;
    line-height: 32px;
    border-bottom: 1px solid #eaeaea;
}
.bbs_signup_icon1{
    background-position:0 -20px;
    height: 40px;
    width: 40px;
    display: block;
    text-indent: -10000px;
}
.bbs_signup_icon2{
    background-position:-40px -20px;
    height: 40px;
    width: 40px;
    display: block;
    text-indent: -10000px;
}
.bbs_signup_icon3{
    background-position:-80px -20px;
    height: 40px;
    width: 40px;
    display: block;
    text-indent: -10000px;
}
.bbs_signup_icon4{
    background-position:-120px -20px;
    height: 40px;
    width: 40px;
    display: block;
    text-indent: -10000px;
}
.bbs_signup_icon5{
    background-position:-160px -20px;
    height: 40px;
    width: 40px;
    display: block;
    text-indent: -10000px;
}
.bbs_signup_step{
    margin: 20px 0;
}
.bbs_signup_step_title{
    width: 100%;
    display: table;
}
.bbs_signup_step_title span{
    color: #333;
    font-size: 15px;
    line-height: 40px;
    margin:0 10px;;
}
.bbs_signup_cont{
    margin: 0 0 0 40px;
    padding: 10px;
}
.bbs_upload{
    width: 148px;
    height: 148px;
    border: 1px dashed #eaeaea;
    float: left;
    background-color: #f6f6f6;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #d3d3d3;
    line-height: 148px;
    margin: 0 10px 0 0;
}
.bbs_signup_cont .inp_area{
    margin:10px 0;
    display: table;
}
.bbs_signup_cont label{
    vertical-align:middle;
    text-align: right;
    width: 100px;
    line-height: 28px;
    font-size: 13px;
    display:block;
    float: left;
}
.bbs_signup_cont input[type="text"]{
    vertical-align:middle;
    border: 1px solid #eaeaea;
    line-height: 26px;
    height: 26px;
    text-indent: 4px;
    width: 200px;
    float: left;
}
.bbs_signup_cont select{
    vertical-align:middle;
    border: 1px solid #eaeaea;
    height: 28px;
    width: 80px;
    float: left;
    text-indent: 2px;
}
.bbs_signup_cont textarea{
    border: 1px solid #eaeaea;
    width: 380px;
    text-indent: 2px;
    padding:10px;
}

.bbs_signup_bot {
    background-color: #e5004b;
    color: #FFF;
    padding: 0 100px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    width: 200px;
    margin: 20px auto;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
}
.bbs_signup_bot:hover {
    background-color: #ff8a00;
}


.right_content {
    display: block;
    height: 26px;
    line-height: 26px;
}

.right_content h1 {
    margin: 0 4px 0 0;
    height: 26px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #e5004a;
    color: #ffffff;
    font-size: 12px;
    width: 72px;
    text-align: center;
    float: left;
    position: relative;
}
.right_content h1:before {
    position: absolute;
    display: inline-block;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 3px solid #e5004a;
    left: 32px;
    bottom: -3px;
    content: '';
}

.right_content span {
    color: #666666;
    font-size: 13px;
    margin: 0 10px;
    line-height: 26px;
}

.choose_search .s_btn {
    width: 90px;
    height: 28px;
    line-height: 28px;
    color: #666666;
    letter-spacing: 1px;
    background: #eaeaea;
    border: 1px solid #a3a3a3;
    border-left:0 ;
    outline: medium;
}
.choose_search input[type="text"]{
    vertical-align:middle;
    border: 1px solid #a3a3a3;
    line-height: 26px;
    height: 26px;
    text-indent: 4px;
    width: 200px;
    float: left;
}

.bbs_show_list {

}

.bbs_show_list ul li {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.bbs_show_list li a{
    float: left;
    position: relative;
    width: 197px;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px 5px ;
    zoom: 1;
    border: 1px solid #eaeaea;
}

.bbs_show_list img {
    width: 100%;
    height: 100%;
}
.bbs_show_list .bbs_show_list_title {
    font-size: 13px;
    color: #999999;
    height: 84px;
    overflow: hidden;
}
.bbs_show_list .bbs_show_list_name,.bbs_show_list .bbs_show_list_num{
    font-size: 13px;
    color: #999999;
    line-height: 22px;
}
.bbs_show_list .ico_male{
    background-position:-40px 0px;
    height: 20px;
    width: 20px;
    display: block;
    text-indent: -10000px;
    padding: 0;
    margin:0 5px;
}
.bbs_show_list .ico_female{
    background-position:-60px 0px;
    height: 20px;
    width: 20px;
    display: block;
    text-indent: -10000px;
    padding: 0;
    margin:0 5px;
}
.bbs_show_list .bbs_show_list_no {
    font-size: 12px;
    color: #f374a1;
    line-height: 22px;
}
.bbs_show_list .bbs_show_list_no span {
    font-size: 16px;
    line-height: 22px;
}

.bbs_show_list li a:hover{
    box-shadow:0 0 10px #f374a1;
    border: 1px solid #f374a1;
}


/*弹窗*/
.bbs_pop{
    padding:20px;
    background-color: #ffffff;
    float: left;
}
.bbs_pop .bbs_pop_l{
    width: 375px;
    float: left;
}
.bbs_pop .bbs_pop_r{
    width: 500px;
    float: left;
    margin-left: 50px;
}

.bbs_pop .bbs_pop_n1{
    line-height: 38px;
    height: 38px;
    font-size: 13px;
    color: #ffffff;
    background-color: #009dd9;
    width: 100px;
    text-align: center;
}
.bbs_pop .bbs_pop_n2{
    line-height: 38px;
    height: 38px;
    font-size: 13px;
    color: #999999;
    background-color: #f6f6f6;
    width: 175px;
    text-align: center;
}
.bbs_pop .bbs_pop_n2 span{
    font-size: 18px;
    color: #e5004a;
}
.bbs_pop .bbs_pop_n3{
    line-height:38px;
    height: 38px;
    font-size: 13px;
    color: #ffffff;
    background-color: #e5004a;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
.bbs_pop .bbs_pop_w1 {
    font-size: 14px;
    color: #6a6a6a;
    line-height: 26px;
    margin: 10px 0;
}
.bbs_pop .bbs_pop_w2{
    font-size: 16px;
    color: #6a6a6a;
    line-height: 28px;
    margin: 20px 0;
}
.bbs_pop .bbs_pop_w3{
    font-size: 14px;
    color: #999999;
    line-height: 26px;
    text-indent:28px;
}

/* 焦点图 */
.focus {
    width: 375px;
    height: 375px;
    position: relative;
    margin-top: 6px;
    float: left
}

.focus img {
    width: 375px;
    height: 375px
}

.rslides {
    width: 100%;
    position: relative;
    list-style: none;
    padding: 0
}

.rslides_nav {
    height: 51px;
    width: 31px;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: 0;
    opacity: 0.5;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    background: url(../img/i.png) no-repeat 0 -560px;
    margin-top: -28px
}

.rslides_nav:active {
    opacity: 1.0
}

.rslides_nav.next {
    left: auto;
    background-position: -31px -560px;
    right: 0
}

.rslides_tabs {
    margin: 12px auto;
    clear: both;
    text-align: center
}

.rslides_tabs li {
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 5px
}

.rslides_tabs a {
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: rgba(0, 0, 0, .2);
    background: #DDD;
    display: inline-block;
    _display: block;
    *display: block;
    width: 9px;
    height: 9px
}

.rslides_tabs .rslides_here a {
    background: rgba(0, 0, 0, .6);
    background: #390
}

